/* styles.css */
* {
  scrollbar-width: thin !important;
  scrollbar-color: rgba(237, 237, 233, 0.7) rgba(237, 237, 233, 0.2);
  scroll-behavior: smooth;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
}

*::-webkit-scrollbar-track {
  background: rgba(237, 237, 233, 0.2);
  border-radius: 20px !important;
  padding: 5rem 0;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(237, 237, 233, 0.7);
  border-radius: 100px;
  border: 2px solid rgba(237, 237, 233, 0.2);
}

html {
  scroll-behavior: smooth;
  height: 100%; /* Full height */
  width: 100%;
  margin: 0; /* Reset default margin */
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Body styling */

.container {
  background-color: white;
  padding: 2% 3%;
  font-family: "Quicksand", sans-serif;
  border-left: 1px solid #ced4da;
}

body {
  background-color: rgba(237, 237, 233, 0.2) !important;
  font-family: "Quicksand", sans-serif !important;
  height: 100%;
  margin: 0;
  padding-right: 0;
}

.intro_container {
  width: 30%;
  max-height: 100% !important;
  float: left;
  padding-top: 2rem;
  position: fixed;
  overflow-y: auto;
  padding-bottom: 2rem;
}

button:focus {
  outline: none !important;
}

.form_container {
  width: 70%;
  float: right;
  background-color: white;
  max-height: 100% !important;
}

.logo {
  max-width: 120px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-family: "Quicksand", sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
  color: #495057;
  text-align: center;
  margin: 1rem;
  margin-bottom: 0;
}

.description-container {
  font-size: 1.2rem;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
}

.description {
  font-size: 1.1rem;
  color: #495057;
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  padding: 0% 8%;
}

.button-container {
  width: 70%;
  float: right;
  border-left: 1px solid #ced4da;
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 100;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.button-container_2 {
  display: flex;
  justify-content: left;
  align-items: left;
  margin-top: 20px;
  margin-left: 4rem;
}

.instruction {
  text-align: justify;
  font-family: "Quicksand", sans-serif;
  color: #495057;
  margin: auto 5%;
  padding-right: 1rem;
  padding-left: 1rem;
}

form {
  max-width: 100%;
  margin: auto 5%;
}

label {
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #495057;
}

.label_titles_1,
.label_titles_2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.label_titles_1 {
  margin-top: 1rem;
}

.form-columns {
  display: flex;
  padding-left: 1rem;
}

.form-column {
  flex: 1;
  padding-right: 1rem;
}

.form-group {
  margin-bottom: 20px;
}

.form-footer {
  margin-top: 1rem;
}

.button-row {
  display: flex;
  justify-content: space-between;
}

.icon {
  max-width: 80px;
  height: auto;
  margin: 0 auto;
  opacity: 0.3;
}

.warning-container {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 1%;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 2px dashed #e75011;
  font-weight: bold;
  color: #e75011;
  background-color: rgba(231, 80, 17, 0.15);
}

.upload-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 3%;
  border-radius: 5px;
  margin-bottom: 1rem;
  border: 2px dashed #ced4da;
  color: #444;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
}

.upload-container:hover {
  background: #eee;
  border-color: #111;
}

.button-container {
  display: flex;
  flex-direction: column;
}

.form-control,
.form-control-non {
  border-width: 1.5px !important;
}

.form-control-non {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.5px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:hover,
.form-control:focus,
.form-control-non:hover,
.form-control-non:focus {
  outline: none;
  border-color: #156ea6 !important;
  box-shadow: 0 0 0 0.2rem rgba(21, 110, 166, 0.25) !important;
}

.form-control-file:hover {
  background-color: #eaeaea;
}

.form-control_3 {
  border-color: #ffc71a !important;
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1.7px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control_3:hover {
  box-shadow: 0 0 0 0.2rem rgba(255, 199, 26, 0.25) !important;
}

.form-control_3:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(255, 199, 26, 0.25) !important;
}

.form-control-file:focus {
  outline: none;
}

.form-control-file {
  font-family: "Quicksand", sans-serif !important;
  font-size: 14px;
}

b {
  display: block;
  margin-top: 20px;
  font-size: 1.2rem;
  text-align: center;
}

.underlined-button {
  background: none;
  border: none;
  color: #495057;
  text-decoration: none;
  padding: 0.5rem;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s;
  transition: background-color 0.5s;
  font-size: 1.2rem;
  margin-top: 2rem;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
}

.underlined-button:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.underlined-button:active,
.underlined-button:focus {
  outline: none;
  border-bottom: 2px solid #156ea6;
}

.active {
  border-bottom: 2px solid #156ea6;
}

.custom-submit-btn,
.custom-clear-btn {
  width: 150px;
  height: 40px;
  font-size: 1.2rem;
  border-radius: 5px;
  background: #012147;
  border: none;
  color: white;
  font-weight: bold;
  transition: transform 0.1s ease-in-out;
  font-family: "Quicksand", sans-serif;
}

.custom-submit-btn:hover {
  transform: scale(1.01);
  background: #1a3557;
}

.custom-submit-btn:active {
  background-color: #1a3557 !important;
}

.custom-clear-btn {
  background: white;
  color: #012147;
  border: 2px solid #012147;
}

.template-btn,
.template3-btn,
.downloadButton,
input[type="file"]::file-selector-button {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  color: white;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  border: 1px solid transparent;
  cursor: pointer;
}

.template-btn,
.downloadButton {
  background-color: #156ea6;
}

.template3-btn {
  background-color: #ffc71a;
}

input[type="file"]::file-selector-button {
  background-color: #e75011;
}

.example-container {
  position: relative;
}

.downloadButton {
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(100%);
  height: 30px;
  font-family: "Quicksand", sans-serif;
}

select {
  background-color: white;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif !important;
  font-size: 14px !important;
  text-align: center;
  border: 1.7px solid #ced4da !important;
  cursor: pointer;
  color: #495057;
  width: 90%;
  box-sizing: border-box;
  padding-right: 0;
  margin-right: 0;
}

select option {
  font-family: "Quicksand", sans-serif !important;
  color: #495057 !important;
  font-size: 14px !important;
  text-align: center !important;
  cursor: pointer !important;
  border: none !important;
  border: 1.7px solid #ced4da;
}
*:focus {
  outline: none;
}

option {
  text-align: center !important;
}

option:hover {
  box-shadow: 0 0 30px 120px rgb(21, 110, 166, 0.1) inset;
  color: #495057;
}

option:checked {
  box-shadow: 0 0 30px 120px #ffc71a inset;
  opacity: 0.6;
  color: #495057 !important;
}

.link {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
  border: none;
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.link:hover {
  color: #0056b3;
  text-decoration: underline;
}

.results {
  padding-left: 1rem;
}

/*responzivno*/

@media only screen and (max-width: 1516px) {
  .label {
    font-size: 14px !important;
  }
  .form-group {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1356px) {
  .intro_container {
    width: 25%;
  }

  .button-container {
    width: 75%;
  }

  .form_container {
    width: 75%;
  }
  .label {
    font-size: 14px !important;
  }
  .form-group {
    font-size: 14px !important;
  }

  .upload-container {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1266px) {
  .intro_container {
    width: 22%;
    font-size: 14px !important;
  }

  .instruction {
    font-size: 14px !important;
  }

  .button-container {
    width: 78%;
  }

  .form_container {
    width: 78%;
  }
  .form-group {
    font-size: 12px !important;
  }

  .form-control-file {
    font-size: 12px !important;
  }

  .label {
    font-size: 12px !important;
  }

  .description-container {
    font-size: 14px !important;
  }

  .description {
    font-size: 14px !important;
    padding: 0 5%;
  }

  .template-btn,
  .template3-btn,
  input[type="file"]::file-selector-button,
  .downloadButton {
    width: 100px;
    font-size: 12px !important;
  }

  table {
    font-size: 12px;
  }

  .upload-container {
    font-size: 12px !important;
  }

  select {
    font-size: 12px !important;
  }
  select option {
    font-size: 12px !important;
  }
  .warning-container {
    font-size: 14px !important;
  }
}

@media only screen and (max-width: 1071px) {
  body {
    background-color: white !important;
  }
  .logo {
    max-width: 100px;
  }

  .title {
    font-size: 1.5rem;
  }
  .intro_container {
    height: auto !important;
    width: 100%;
    position: relative;
    overflow-y: hidden;
    border-right: none;
    padding-bottom: 0;
  }

  .description {
    padding: 0;
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .instruction {
    margin: 0;
  }
  .button-container {
    width: 100%;
    border-left: none;
    position: relative;
    padding-left: 0;
  }

  .button-container_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
    margin-left: 0;
    flex-direction: row;
  }
  .form_container {
    width: 100%;
  }

  .container {
    border-left: none;
  }

  .underlined-button {
    padding: 0 0.5rem;
  }

  .custom-submit-btn,
  .custom-clear-btn {
    font-size: 14px;
    width: 100px;
  }

  form {
    margin: 0 !important;
  }
}

@media only screen and (max-width: 993px) {
  .form-group {
    font-size: 10px !important;
  }
  .template-btn,
  .template3-btn,
  input[type="file"]::file-selector-button,
  .downloadButton {
    width: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .form-columns {
    flex-direction: column !important;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .form-column {
    padding-right: 0 !important;
    padding-left: 0;
    padding-bottom: 1rem !important;
    padding-bottom: 0 !important;
  }

  .description {
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 0;
    margin-top: 1%;
  }

  .form-group {
    font-size: 14px !important;
  }

  .template-btn,
  .template3-btn,
  input[type="file"]::file-selector-button {
    width: 120px;
    font-size: 14px;
  }

  table {
    font-size: 14px;
  }

  .upload-container {
    font-size: 14px !important;
  }

  select {
    font-size: 14px;
  }
  select option {
    font-size: 14px;
  }

  .instruction {
    font-size: 14px !important;
  }

  .form-control-file {
    font-size: 14px;
  }

  .label {
    font-size: 14px !important;
  }
  .description-container {
    font-size: 14px !important;
  }

  .warning-container {
    margin-right: 1rem;
    padding: 1rem;
  }

  .results {
    padding-right: 1rem;
  }

  .button-container_2 {
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0;
  }

  .underlined-button {
    font-size: 14px;
  }

  .label_titles_1,
  .label_titles_2 {
    font-size: 14px;
  }
}

@media only screen and (max-width: 496px) {
  .template-btn,
  .template3-btn,
  input[type="file"]::file-selector-button,
  .downloadButton {
    width: 90px;
    font-size: 12px;
  }

  .button-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #nonStandardButton {
    margin-left: 1rem !important;
    margin-right: 0 !important;
  }

  .form-control-file,
  .downloadButton,
  select,
  select option {
    font-size: 12px;
  }

  table {
    font-size: 12px !important;
  }

  #resultsTable thead {
    display: none;
  }

  #resultsTable tr {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  #resultsTable td {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  #resultsTable td::before {
    content: attr(data-label);
    font-weight: bold;
  }
}

@media only screen and (max-width: 395px) {
  .example-container {
    position: static;
  }

  .downloadButton {
    position: static;
    transform: none;
    width: 90px;
    margin-top: 10px;
    font-size: 12px;
  }

  select {
    width: 90%;
    font-size: 12px;
  }
}

@media only screen and (max-width: 361px) {
  #downloadExcelButton2 {
    margin-top: 3%;
  }

  .template-btn,
  .template3-btn,
  input[type="file"]::file-selector-button,
  .downloadButton {
    height: 25px;
  }
}

@media only screen and (min-width: 1629px) {
  body {
    background-color: white !important;
  }

  .logo {
    max-width: 150px;
  }

  .description {
    padding: 1% 15%;
  }

  .title {
    margin-top: 5%;
  }

  .container {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 5% !important;
    padding-right: 0 !important;
  }

  .button-container_2 {
    padding-left: 5%;
  }
}
